.navbar {
  z-index: 1051;
  .brand {
    h1 {
      line-height: 1;
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .icon-confirmation {
    vertical-align: bottom;
  }
  .number {
    font-size: 12px;
    padding: 2px 8px;
    position: absolute;
    right: -13px;
    top: -10px;
    vertical-align: bottom;
  }
}

.offcanvas {
  justify-content: space-between;
  width: 100%;
  top: 67px;
  @include media-breakpoint-up(md) {
    width: 540px;
    top: 80px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    width: 350px !important;
  }
}
.swiper-slide img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}

.subscribe {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true");
  background-size: cover;
  background-position: center;
  height: 400px;
}
