.menu {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 14px;
  padding-bottom: 11px;
  a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    &:hover {
      border-bottom: 1px solid $secondary;
    }
  }
  .active {
    border-bottom: 1px solid $secondary;
  }
}
