.designExhibition {
  .card-bg {
    background-color: $light;
    @include media-breakpoint-up(md) {
      background-color: white;
    }
  }
  .card {
    img {
      width: 100%;
      height: 220px;
      @include media-breakpoint-up(md) {
        min-height: 285px;
        height: 100%;
      }
    }
  }
  .date {
    white-space: nowrap;
  }
}
