<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <!-- AOS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Custom Styles -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="px-0 py-4x py-md-7 border border-dark navbar navbar-light navbar-expand-md ">
    <div class="container position-relative flex-md-row-reverse">
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="brand text-primary">
        <h1 class="font-l">EXHIBINECTION</h1>
      </a>
      <a href="#" class="position-relative">
        <span class="icon-confirmation material-icons text-black">confirmation_number</span>
        <span class="bg-secondary number text-white rounded-pill">3</span>
      </a>
      <div class="collapse navbar-collapse text-dark" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 me-8">
          <li class="nav-item">
            <a class="nav-link me-md-8 p-md-0 py-2 text-dark" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-md-0 py-2 text-dark" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

  <footer class="footer">
    foo
  </footer>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>