<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <!-- Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!-- AOS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Custom Styles -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="w-100 px-0 py-4x py-md-7 border-bottom border-dark navbar navbar-light navbar-expand-md bg-white">
    <div class="container position-relative flex-md-row-reverse">
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="brand text-primary">
        <h1 class="font-l">EXHIBINECTION</h1>
      </a>
      <a href="#" class="position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <span class="icon-confirmation material-icons text-black">confirmation_number</span>
        <span class="bg-secondary number text-white rounded-pill">3</span>
      </a>
      <div class="collapse navbar-collapse text-dark" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 me-8">
          <li class="nav-item">
            <a class="nav-link me-md-8 p-md-0 py-2 text-dark" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-md-0 py-2 text-dark" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end bg-black text-white p-md-8 py-5 px-15 " tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header p-0">
      <h5 id="offcanvasRightLabel" class="font-l">Cart List</h5>
    </div>
    <div class="offcanvas-body p-0">
      ...
    </div>
    <div class="p-0 d-flex align-items-center justify-content-between">
      <p class="font-m fw-medium">
        <span class="me-4">小計</span>NT$1050
      </p>
      <button class="btn btn-white text-primary py-2x px-7">前往結帳</button>
    </div>
  </div>

  <%- contents %>

  <div class="recommend mb-6 mb-md-13">
    <div class="container">
      <h3 class="font-xxl fw-bold mb-2 mb-md-6">猜你也喜歡...</h3>
      <div class="row">
        <div class="col-12 col-md-11 offset-md-1">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg?raw=true"
                    class="card-img-top" alt="">
                  <div class="card-body pt-md-2 pt-1">
                    <h5 class="font-m  fw-bold mb-1">No.22 線上設計展</h5>
                    <p>$350</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg"
                    class="card-img-top" alt="">
                  <div class="card-body pt-md-2 pt-1">
                    <h5 class="font-m  fw-bold mb-1">No.22 線上設計展</h5>
                    <p>$350</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/museums-victoria-kiDwVL_5ZBY-unsplash%20(1).jpg?raw=true"
                    class="card-img-top" alt="">
                  <div class="card-body pt-md-2 pt-1">
                    <h5 class="font-m  fw-bold mb-1">No.22 線上設計展</h5>
                    <p>$350</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/museums-victoria-kiDwVL_5ZBY-unsplash%20(1).jpg?raw=true"
                    class="card-img-top" alt="">
                  <div class="card-body pt-md-2 pt-1">
                    <h5 class="font-m  fw-bold mb-1">No.22 線上設計展</h5>
                    <p>$350</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/museums-victoria-kiDwVL_5ZBY-unsplash%20(1).jpg?raw=true"
                    class="card-img-top" alt="">
                  <div class="card-body pt-md-2 pt-1">
                    <h5 class="font-m  fw-bold mb-1">No.22 線上設計展</h5>
                    <p>$350</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subscribe">
    <div class="container py-9 h-100 d-flex align-items-end">
      <div class="">
        <h3 class="font-l text-white fw-bold mb-md-3 mb-5x">想收到最新消息嗎？<br>快訂閱我們！</h3>
        <div class="input-group">
          <input type="text" class="form-control border-0" placeholder="輸入您的電子信箱" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <button class="btn btn-secondary py-3 px-12 border-0" type="button" id="button-addon2">訂閱</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container py-4">
      <div class="footer__nav d-flex flex-column flex-md-row align-items-sm-center">
        <p class="font-m me-4">EXHIBINECTION</p>
        <p>© 2020. All Rights Reserved.</p>
        <ul class="d-none ms-auto d-md-flex">
          <li>
            <a class="me-md-8 p-md-0 py-2 text-dark" href="#">Sign in</a>
          </li>
          <li>
            <a class="p-md-0 py-2 text-dark" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>