.font-m {
  font-size: 1.25rem; //20
}
.font-l {
  font-size: 1.5rem; //24
}
.font-xl {
  font-size: 2rem; //32
}
.fw-medium {
  font-weight: 500;
}
.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}
